<% provide(:title, 'Lectures') %>
<div class='small-banner'>
  <span class='welcome'>Current Lectures at<span>
  <span class='brand-name'>Engineered Corrosion Solutions 2014!</span>
  <span class='limited-space'>(some eligible for CEUs)</span>
</div>
<%= render 'layouts/sponsor' %>
<div class='forms container'>
  <div class='tall card'>
    <span class='card-header'>Suggest a Lecture</span>
    <div class='form span4'>
      <%= form_for @lecture do |f| %>
        <%= render 'lectures_error_messages' %>
        <div class='controls controls-row'>
          <%= f.email_field  :email, placeholder: 'your@email.com', autofocus: true, class: 'span4 dropshadow' %>
        </div>
        <div class='controls controls-row'>
          <%= f.text_field  :topic,  placeholder: 'Suggest a new topic...', class: 'span4 dropshadow' %>
        </div>
        <span class='pull-right'>
          <%= f.submit 'Suggest', class: 'btn btn-primary' %>
        </span>
      <% end %>
    </div>
  </div>
  
  <div class='wide card'>
    <span class='quick-info'>
      <span class='more-info bold'>Lectures:</span>
      <span class='more-info'><i class='icon-chevron-right'></i>
        Understanding corrosion from a practical and technical perspective.</span>
      <span class='more-info'><i class='icon-chevron-right'></i>
        Understanding erosion and corrosion issues in concrete and masonry.</span>
      <span class='more-info'><i class='icon-chevron-right'></i>
        Understanding the fundamentals and broad uses of hot dipped galvanizing.</span>
      <span class='more-info'><i class='icon-chevron-right'></i>
        Understanding how cathodic proaction can be used to remediate corrosion.</span>
      <span class='more-info'><i class='icon-chevron-right'></i>
        Barrier coating fundamentals.</span>
      <span class='more-info'><i class='icon-chevron-right'></i>
        Understanding the process involved in identify optimal corrosion solutions.</span>
      <span class='more-info'><i class='icon-chevron-right'></i>
        Understanding the true life cycle costs and purchasing considerations for corrosion solutions.</span>
      <span class='more-info'><i class='icon-chevron-right'></i>
        The importance of third party inspection services and what they entail.</span>
    </span>
  </div>

</div>
</div>