<% provide(:title, 'Lectures') %>
<div class='small-banner'>
  <span class='above-brand'>Current Lectures<span>
  <span class='brand'>Engineered Corrosion Solutions 2014</span>
</div>

<div class='center container'>
  <% flash.each do |key, value| %>
    <div class='alert alert-<%= key %>'><%= value %></div>
  <% end %>
</div>

<div class='container'>
  <div class='tall card'>
    <span class='card-header'>Suggest a Lecture</span>
    <div class='form span4'>
      <%= form_for @lecture do |f| %>
        <%= render 'lectures_error_messages' %>
        <div class='controls controls-row'>
          <%= f.email_field  :email, placeholder: 'your@email.com', autofocus: true, class: 'span4 dropshadow' %>
        </div>
        <div class='controls controls-row'>
          <%= f.text_field  :topic,  placeholder: 'Suggest a new topic...', class: 'span4 dropshadow' %>
        </div>
        <span class='pull-right'>
          <%= f.submit 'Submit', class: 'btn btn-primary' %>
        </span>
      <% end %>
    </div>
  </div>
  
  <div class='wide card'>
    <span class='quick-info'>
      <span class='more-info bold'>Lectures:</span>
      <span class='more-info'><i class='icon-chevron-right'></i>
        Fundamentals of Impressed Current and Sacrificial Cathodic Protection Systems.</span>
        <span class='speaker'><span class='soft'>Speaker:</span> Mr. Jim Dooley</span>
        <span class='speaker'><span class='soft'>Representing:</span> Corrpro</span>
      <span class='more-info'><i class='icon-chevron-right'></i>
        Understanding the Attributes of Hot-Dip Galvanizing.</span>
        <span class='speaker'><span class='soft'>Speaker:</span> Mr. Kevin Irving</span>
        <span class='speaker'><span class='soft'>Representing:</span> AZZ Galvanizing</span>
      <span class='more-info'><i class='icon-chevron-right'></i>
        Fundamentals of Surface Preparation and the Benefits of Media Blasting.</span>
        <span class='speaker'><span class='soft'>Speaker:</span> Mr. Joe Sergio</span>
        <span class='speaker'><span class='soft'>Representing:</span> Polar Clean</span>
      <span class='more-info'><i class='icon-chevron-right'></i>
        Technologies and Application of Cured-in-Place Piping Solutions (CIPP).</span>
        <span class='speaker'><span class='soft'>Speaker:</span> Mr. Kevin Coburn</span>
        <span class='speaker'><span class='soft'>Representing:</span> Insituform Technologies</span>
      <span class='more-info'><i class='icon-chevron-right'></i>
        Remediation of corrosion by use of fibre reinforced polymers (FRP).</span>
        <span class='speaker'><span class='soft'>Speaker:</span> Mr. Pete Kratzer</span>
        <span class='speaker'><span class='soft'>Representing:</span> Fibrwrap</span>
      <span class='more-info'><i class='icon-chevron-right'></i>
        Understanding the Science of Corrosion on a Fundamental Level.</span>
        <span class='speaker'><span class='soft'>Speaker:</span> TBD</span>
        <span class='speaker'><span class='soft'>Representing:</span> TBD</span>
      <span class='more-info'><i class='icon-chevron-right'></i>
        Basics of Barrier Coatings, Permeation and the Cold Wall Effect.</span>
        <span class='speaker'><span class='soft'>Speaker:</span> TBD</span>
        <span class='speaker'><span class='soft'>Representing:</span> TBD</span>
        <span class='more-info bold'>Additional Lectures are Being Developed</span>
      </span>
    </span>
  </div>
</div>
</div>