<h1><%= resource_name.capitalize %> Sign Up</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <h2>Profile Information</h2>
	<%= f.label      :first_name %>
	<%= f.text_field :first_name %>

  <%= f.label      :last_name %>
	<%= f.text_field :last_name %>

	<%= f.label	     :phone, 'Phone Number' %>
	<%= f.text_field :phone %>

	<%= f.label      :address, 'Street Address' %>
	<%= f.text_field :address %>

	<%= f.label      :city %>
	<%= f.text_field :city %>

	<%= f.label      :state %>
	<%= f.text_field :state %>

	<%= f.label      :zip, 'Zip Code' %>
	<%= f.text_field :zip %>

	<%= f.label      :industry %>
	<%= f.text_field :industry %>

	<%= f.label      :pull_out %>
	<%= f.text_field :pull_out %>

	<%= f.label      :concerns %>
	<%= f.text_area  :concerns %>

	<%= f.label      :questions %>
	<%= f.text_area  :questions %>

	<h2>Login Information</h2>
	<%= f.label       :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <span class='button' style='display: block;'><%= f.submit "Sign up" %></span>
<% end %>

<%= render partial: 'devise/shared/links' %>
