<% provide(:title, 'Vendors') %>
<div class='small-banner'>
	<span class='above-brand'>Thank You for Applying to<span>
	<span class='brand'>Become an Exhibitor at ECS 2014</span>
</div>

<div class='container'>
	<div class='tall card'>
		<span class='card-header'>Exhibitor Sign Up</span>
		<div class='form span4'>
			<%= form_for @vendor do |f| %>
				<%= render 'vendors/vendor_error_messages' %>
				<div class='controls controls-row'>
					<%= f.text_field  :vendor_name, placeholder: 'Exhibitor Name', autofocus: true, class: 'span4 dropshadow' %>
				</div>
				<div class='controls controls-row'>
					<%= f.text_field  :first_name, placeholder: 'First Name', class: 'span2 dropshadow' %>
					<%= f.text_field  :last_name,  placeholder: 'Last Name', class: 'span2 dropshadow' %>
				</div>
				<div class='controls controls-row'>
				  <%= f.email_field :email, placeholder: 'Email', class: 'span2 dropshadow' %>
					<%= f.text_field  :phone, placeholder: 'Phone Number', class: 'span2 dropshadow' %>
				</div>
				<div class='controls controls-row'>
					<%= f.text_field  :address, placeholder: 'Street Address', class: 'span4 dropshadow' %>
				</div>
				<div class='controls controls-row'>
					<%= f.text_field  :city, placeholder: 'City', class: 'span2 dropshadow' %>
					<%= f.text_field  :state, placeholder: 'State', class: 'span1 dropshadow' %>
					<%= f.text_field  :zip, placeholder: 'Zip', class: 'span1 dropshadow' %>
				</div>
				<div class='controls controls-row'>
					<%= f.text_area   :comments, placeholder: 'Comments', class: 'span4 dropshadow', rows: '3' %>
				</div>
				<div class='checkbox-inline'>
					<%= f.check_box :speak_topic, class: 'inline-check' %>
					<%= f.label     :speak_topic, 'I\'m willing to speak on this topic', class: 'inline-check' %>
				</div>
				<div class='checkbox-inline'>
					<%= f.check_box :speak_topic_ceu, class: 'inline-check' %>
					<%= f.label     :speak_topic_ceu, 'I\'m willing to speak on this topic for CEU', class: 'inline-check' %>
				</div>
				<span class='pull-right'>
			  	<%= f.submit 'Register', class: 'btn btn-primary' %>
			 	</span>
			<% end %>
		</div>
		</span>
	</div>

	<div class='wide card'>
		<span class='quick-info'>
			<span class='more-info bold'>What you need to know:</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				We are limiting exhibitors to best avoid redundancy, and to offer an enhanced experience and robust educational value to exhibitors and attendees alike.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Standard single spaces include a 6’ table (total space size 6x4) and 2 chairs.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Nothing shall be hung on venue walls.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				You must furnish your own displays and set up materials.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Sponsorships opportunities may be available in the program and at show.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Wi-Fi Available.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Electrical outlets available. Please inform if needed, when submitting booth deposit. Exhibitor is responsible for bringing extension cords.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Set up will be from 6:00am - 8:30am.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Space assignments are at the discretion of event host.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				The exhibitor understands and agrees that neither the host, nor venue maintains insurance covering Exhibitor liability or property.</span>
		</span>
	</div>


	<div class='wide card'>
		<span class='quick-info'>
			<span class='more-info bold'>Deposit required:</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Once your application is reviewed you will be contacted to review details.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Total cost for exhibitors is $1000.00 which includes a $250.00 deposit made payable upon acceptance.</span>
		</span>
	<div>
</div>
</div>
</div>


















