<% provide(:title, 'Vendors') %>
<div class='small-banner'>
	<span class='welcome'>Thank you for Participating in the<span>
	<span class='brand-name'>First Annual</span>
	<span class='brand-name'>Engineered Corrosion Solutions Trade Show!</span>
</div>
<%= render 'layouts/sponsor' %>
<div class='forms container'>
	<div class='tall card'>
		<span class='card-header'>Vendor Sign Up</span>
		<div class='form span4'>
			<%= form_for @vendor do |f| %>
				<%= render 'vendors/vendor_error_messages' %>
				<div class='controls controls-row'>
					<%= f.text_field  :vendor_name, placeholder: 'Vendor Name', autofocus: true, class: 'span4 dropshadow' %>
				</div>
				<div class='controls controls-row'>
					<%= f.text_field  :first_name, placeholder: 'First Name', class: 'span2 dropshadow' %>
					<%= f.text_field  :last_name,  placeholder: 'Last Name', class: 'span2 dropshadow' %>
				</div>
				<div class='controls controls-row'>
				  <%= f.email_field :email, placeholder: 'Email', class: 'span2 dropshadow' %>
					<%= f.text_field  :phone, placeholder: 'Phone Number', class: 'span2 dropshadow' %>
				</div>
				<div class='controls controls-row'>
					<%= f.text_field  :address, placeholder: 'Street Address', class: 'span4 dropshadow' %>
				</div>
				<div class='controls controls-row'>
					<%= f.text_field  :city, placeholder: 'City', class: 'span2 dropshadow' %>
					<%= f.text_field  :state, placeholder: 'State', class: 'span1 dropshadow' %>
					<%= f.text_field  :zip, placeholder: 'Zip', class: 'span1 dropshadow' %>
				</div>
				<div class='controls controls-row'>
					<%= f.text_area   :comments, placeholder: 'Comments', class: 'span4 dropshadow', rows: '3' %>
				</div>
				<div class='checkbox-inline'>
					<%= f.check_box :speak_topic, class: 'inline-check' %>
					<%= f.label     :speak_topic, 'I\'m willing to speak on this topic', class: 'inline-check' %>
				</div>
				<div class='checkbox-inline'>
					<%= f.check_box :speak_topic_ceu, class: 'inline-check' %>
					<%= f.label     :speak_topic_ceu, 'I\'m willing to speak on this topic for CEU', class: 'inline-check' %>
				</div>
				<span class='pull-right'>
			  	<%= f.submit 'Register', class: 'btn btn-primary' %>
			 	</span>
			<% end %>
		</div>
		</span>
	</div>

	<div class='wide card'>
		<span class='quick-info'>
			<span class='more-info bold'>What you need to know:</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Standard single spaces include a 6’ table (total space size 6x4) and 2 chairs.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Nothing shall be hung on venue walls.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				You must furnish your own displays and set up materials.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Sponsorships opportunities will be available in program and at show.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Wi-Fi Available.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Electrical outlets available. Please inform if needed, when submitting booth deposit. Vendors responsible for bringing extension cords.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Set up will begin at 6am.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Space assignments at discretion of event host.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				The exhibitor understands and agrees that neither the host, nor venue maintains insurance covering Vendor’s liability or property.</span>
		</span>
	</div>


	<div class='wide card'>
		<span class='quick-info'>
			<span class='more-info bold'>Deposit required:</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				$250 payable to Engineered Corrosion Solutions by 10/18/2013.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Remaining $750 booth cost due by 1/1/2014.</span>
			<span class='more-info'><i class='icon-chevron-right'></i>
				Please mail check to: 9021 Kostner Ave. Skokie, IL 60076.</span>
		</span>
	<div>
</div>
</div>
</div>


















