<h1><%= "#{@vendor.first_name} #{@vendor.last_name}" %></h1>

<span style='display: block;'>
	<%= "#{@vendor.vendor_name}" %>
</span>
<hr>
<span style='display: block;'>
	<%= "#{@vendor.email}" %>
	<%= "#{@vendor.phone}" %>
</span>

<span style='display: block;'>
	<%= "#{@vendor.address} #{@vendor.city}, #{@vendor.state} #{@vendor.zip}" %>
</span>
<hr>
<span style='display: block;'>
	<%= "#{@vendor.comments}" %>
</span>
<hr>
<span style='display: block;'>
	<% if @vendor.speak_topic? %>
		<%= 'Speaking on topic' %>
	<% end %>
</span>

<span style='display: block;'>
	<% if @vendor.speak_topic_ceu? %>
		<%= 'Speaking on topic for CEU' %>
	<% end %>
</span>
