<div class='forms container'>
  <div class='centered card'>
    <span class='card-header'>Admin Sign In</span>
    <div role='form' class='form span4'>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div class='controls controls-row'>
          <%= f.email_field :email, placeholder: 'Email', autofocus: true, class: 'span4 dropshadow' %>
        </div>
        <div class='controls controls-row'>
          <%= f.password_field :password, placeholder: 'Password', class: 'span4 dropshadow' %>
        </div>

        <div class='controls controls-row'>
          <% if devise_mapping.rememberable? -%>
            <div class='checkbox-inline'>
              <%= f.check_box :remember_me, class: 'inline-check' %>
              <%= f.label     :remember_me, class: 'inline-check' %>
            </div>
          <% end %>
        </div>

        <span class='pull-right'>
          <%= f.submit 'Sign in', class: 'btn btn-primary' %>
        </span>
      <% end %>
    </div>
    <div class='center'>
      <%= render :partial => 'devise/shared/links' %>
    </div>
  </div>
</div>