<header class='navbar navbar-fixed-top navbar-inverse'>
  <div class='navbar-inner'>
    <div class='container'>
      <div class='logo-top'>
        <%= link_to 'ECS | 2014', root_path, id: 'logo' %>
        <span class='sponsor'>
          <span class='assoc'>In asssociation with</span>
          <a href='http://www.chicagocoatingsgroup.com/' alt='CCG' target='_blank'>
            <span class='link'>Chicago Coatings Group</span>
          </a>
        </span>
      </div>
      <nav>
        <ul class='nav pull-right'>
          <li><%= link_to 'Home',           root_path %></li>
          <li><%= link_to 'Lectures',       new_lecture_path %></li>
          <li><%= link_to 'Exhibitor Listing', current_vendors_path %></li>
          <% if current_admin %>
            <li class='dropdown'>
              <a href='#' class='dropdown-toggle' data-toggle='dropdown'><%= current_admin.first_name %><b class='caret'></b></a>
              <ul class='dropdown-menu'>
                <li><%= link_to 'Attendees',    attendees_path %></li>
                <li><%= link_to 'Exhibitors',   vendors_path %></li>
                <li><%= link_to 'Lectues',      lectures_path %></li>
                <li class='divider'></li>
                <li><%= link_to 'Logout',       destroy_admin_session_path, method: :delete %> </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to 'Exhibitors',   new_vendor_path %></li>
            <li><%= link_to 'Attendees', new_attendee_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
