<header class='navbar navbar-fixed-top navbar-inverse'>
  <div class='navbar-inner'>
    <div class='container'>
      <%= link_to 'ECS', root_path, id: 'logo' %>
      <nav>
        <ul class='nav pull-right'>
          <li><%= link_to 'Lectures',  lectures_path %></li>
          <li><%= link_to 'FAQ',       faq_path %></li>
          <li><%= link_to 'Vendors',   new_vendor_session_path %></li>
          <li><%= link_to 'Attendees', new_attendee_session_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
